# data 
data_raw/
*.zip
*.csv
data_processed/
sla_data.csv

# secrets/env 
.env

# OS & Editors 
.DS_Store
.vscode/
*.session.sql

# R/Python 
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc


*.hyper
*.tde
